@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #202041;
  --darker-purple: #01082A;
  --yellow: #E0973C;
  --blue: #6763FE;
  --cyan: #00A0B6;
  --pink: #E06B9F;
  --green: #6BE077;
  --gray: #E9E9EC;
  --darker-gray: #D2D2D9;
  
}

body {
  background-color: #f2f2f2;
}