@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --purple: #202041;
  --darker-purple: #01082A;
  --yellow: #E0973C;
  --gray: #E9E9EC;
  --darker-gray: #D2D2D9;
}

body {
  background-color: #f2f2f2;
}